/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/bin/
/composer.phar
/.idea/
/app/SymfonyRequirements.php
/app/check.php
/app/spool/*
!app/spool/.gitkeep
/libs
/web/minecraft/skins/*
!web/minecraft/skins/default.png
!web/minecraft/skins/.gitkeep
/web/minecraft/cloacks/*
!web/minecraft/cloacks/.gitkeep
/web/minecraft/head/*
!web/minecraft/head/.gitkeep
