/public_html/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/bin/
/composer.phar
/.idea/
/app/SymfonyRequirements.php
/app/check.php
/app/spool/*
!app/spool/.gitkeep
/libs
/public_html/minecraft/skins/*
!public_html/minecraft/skins/default.png
!public_html/minecraft/skins/.gitkeep
/public_html/minecraft/cloacks/*
!public_html/minecraft/cloacks/.gitkeep
/public_html/minecraft/head/*
!public_html/minecraft/head/.gitkeep
/public_html/minecraft/preview/*
!public_html/minecraft/preview/.gitkeep
/public_html/upload/*
!public_html/upload/.gitkeep
/public_html/config.php
