{% cssinline %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ title|default('McShop v4') }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block style %}{% endblock style %}
</head>
<body>
{% block body %}{% endblock body %}
</body>
</html>
{% endcssinline %}