{% extends ':Default:base.html.twig' %}
{#{% block left_menu %}{% endblock %}#}
{% block top_menu %}{% endblock %}

{% block content %}
    <div class="page-header">
        <h3>{{ 'system.error'|trans({'@code@': exception.statusCode}) }}!!!</h3>
    </div>
    <strong class="text-danger">{{ exception.message }}</strong>
{% endblock %}
